#navigation {
    font-variant:small-caps;
    padding:0 5ch 0 1ch;
    width:10ch;
    position: absolute;
    border-bottom-style: inset;
    margin-top: 5%;
    margin-right: 60%;
}

#navigation a {
    display:block
}

.readmore {
    padding-bottom: 1rem;
}


@media (max-width: 760px) {

    #navigation {
        padding:0 0 0 5ch;
        width:10ch;
        position: relative;
        border-bottom-style: none;
    }
}
