@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#TOC {
    width: 5rem;
}

#TOC::before {
    content: "☰ Tags";
    font-variant: small-caps;
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 2rem;
    display: block;

    border-radius: 5px 5px 0 0;
}

#TOC:hover {
    color: white;
    width: 10rem;
}

#TOC:hover:before {
    background: #2c2c2c;
    border-bottom: 2px double #4f4f4f;
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s;
}

#TOC ul {
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    font-size: 1.2rem;
}

#TOC:hover > ul {
    display: block;
    z-index: 1;
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s;
}

#TOC li {
    padding: 0 0 0 0;
    position: relative;
    display: block;
    width: 10rem;
}

#TOC > ul > li {
    border-bottom: 1px solid #4f4f4f;
}

#TOC > ul > li > a > span {
    text-transform: lowercase;
}

#TOC ul ul {
    position: absolute;
    display: none;
    left: 100%;
    top: 0;
}

#TOC li:hover ul {
    width: fit-content;
    display: block;
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s;
}

#TOC a, .part, .appendix {
    background: #2c2c2c; /*linear-gradient(to bottom, #2c2c2c 0%, #141414 100%);*/
    color: #ffffff;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-shadow: none;
}

#TOC ul ul li:hover > a {
    color: #ffffff;
}

